*
	box-sizing: border-box
img
	max-width: 100%
button:focus
	outline: none
input:focus
	outline: none
body
	+reg
.container
	width: 1170px
	max-width: 1170px
	margin: 0 auto
	width: 100%
.boldR
	+boldRob
	font-size: 18px
h1,h2,h3,h4
	font-weight: normal
.card
	&__item
		position: relative
		width: 263px
		margin-right: 30px
		&:nth-child(4)
			margin-right: 0
	&__box
		width: 100%
		display: none
		justify-content: space-between
		margin-bottom: 15px
	&-lid
		margin-top: 11px
		flex-basis: 50%
		display: none
		justify-content: space-between
		align-items: center
		&__left
			display: flex
			justify-content: flex-start
			align-items: center
		&__text
			font-size: 13px
			margin-left: 3px
		&__link
			text-decoration: none
			+bold
			font-size: 14px
			color: $main_color
	&-select
		cursor: pointer
		background: url(../img/chev.png) no-repeat 
		background-position: 90% center
		appearance: none!important
		width: 108px
		height: 41px
		border: 1px solid $main_color
		font-size: 13px
		color: #666666
		padding-left: 10px
		&:nth-child(2)
			padding-left: 35px
			position: relative
			background: url(../img/chev.png) no-repeat, url(../img/Ellipse.png) no-repeat
			background-position: 90% center, 7% center 
			
@media (min-width: 992px)
	.nav
		&-item
			&__btn
				&:hover
					background-color: $main_color
					color: #fff
					cursor: pointer
					transition: 0.2s
			&__phone
				& a:hover:before
					width: 100%
		&-card
			&:hover:before
				width: 100%
				transition: 0.2s
		&-menu
			&__img:hover
				transition: 0.2s
				color: red
		&-menu__item
			&:hover
				background-color: darken(desaturate($main_color, 3.62), 3.33)
				cursor: pointer
				transition: 0.2s
				transform: translateY(-2px)
	.call
		&-form
			&__btn
				&:hover
					background-color: $main_color
					color: #fff
					transition: 0.2s
		&__close
			&:hover
				color: red
				transition: 0.2s
	.popular
		&-item
			&__left:hover:before
				transition: 0.2s
				opacity: 0.5
		&-down
			&__img:hover:before
				transition: 0.2s
				opacity: 0.5
		&-right:hover:before
			transition: 0.2s
			opacity: 0.5
	.card
		&:hover
			position: absolute
			top: 0
			left: 0
			z-index: 50
			transition: 0.2s
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.12)
			.card__box
				display: flex
			.card-lid
				display: flex
		&-lid
			&__link:hover
				color: red
				transition: 0.2s
			&__left:hover
				.card-lid__icon
					color: red
					transition: 0.2s
	.sale
		&-cards
			&__cart
				&:hover
					transition: 0.2s
					background-color: #fff
					border: 1.5px $main_color solid					
					&:before
						color: $main_color
	.subscr
		&-form
			&__btn:hover
				color: $main_color
				background-color: #fff
				border: 1.5px $main_color solid		
		&-lid
			&__img:hover
				color: #fff
				background-color: $main_color
	.new-item__cart
		&:hover
			transition: 0.2s
			background-color: #fff
			border: 1.5px $main_color solid					
			&:before
				color: $main_color
	.footer
		&__link:hover
			transition: 0.2s
			color: #000
		&-block
			&__btn:hover
				background-color: #fff
				border: 1.5px $main_color solid
				color: $main_color
			&__phone:hover:before
				transition: 0.2s
				width: 100%
			&__link:hover:before
				transition: 0.2s
				width: 100%
			&__text:hover:before
				transition: 0.2s
				width: 100%
			&__icon:hover
				transition: 0.2s
				border-color: $main_color
				color: $main_color
			&__like:hover:before
				transition: 0.2s					
				display: flex


				