.achiv
	margin-top: 55px
	border-top: 1px solid $main_color
	border-bottom: 1px solid $main_color
	&-block
		padding-top: 33px
		padding-bottom: 35px
		display: flex
		justify-content: flex-start
		&__item
			display: flex
			justify-content: flex-start
			align-items: center
			margin-right: 24px
			&:nth-child(3)
				margin-right: 32px
				& span
					max-width: 164px
			&:nth-child(4)
				margin-right: 41px
				& span
					max-width: 164px
					margin-left: 0
			&:last-child
				margin-right: 0
				& span
					max-width: 164px
					margin-left: 12px
		&__img
			width: 38px
			height: 35px
			display: flex
			align-items: center
			justify-content: center
		&__text
			margin-left: 9px
			font-size: 14px
			line-height: 18px
			max-width: 151px
			width: 100%