.footer
	margin-top: 53px
	border-top: 1px solid $main_color
	background-color: $footer_color
	padding-top: 39px
	&-block
		padding-top: 5px
		display: flex
		justify-content: flex-start
		border-bottom: 1px solid $main_color
		padding-bottom: 41px
		&__item
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			&:nth-child(1)
				margin-right: 183px
			&:nth-child(2)
				margin-right: 113px
				& a
					transform: translateX(1px)
					letter-spacing: -0.3px
			&:nth-child(3)
				margin-right: 196px
			&:nth-child(4)
				/* transform: translateX(16px) */
				& span
					transform: translateX(5px)
					margin-bottom: 18px
			
		&__first
			font-size: 14px
			+boldOp
			margin-bottom: 14px
		& a
			text-decoration: none
			color: #393939
		&__phone
			transform: translateX(1px)
			font-size: 16px
			margin-bottom: 13px
			position: relative
			&:before
				content: ''
				position: absolute
				bottom: -4px
				left: 0
				width: 0
				height: 3px
				background-color: $main_color
		&__btn
			cursor: pointer
			padding-left: 6px
			letter-spacing: -0.3px
			width: 156px
			height: 40px
			background-color: $main_color
			color: #fff
			font-size: 13px
			+regRob
			border: none
			border-radius: 30px
			margin-bottom: 15px
		&__link
			font-size: 14px
			margin-bottom: 13px
			transform: translateX(2px)
			text-transform: uppercase
			position: relative
			&:before
				content: ''
				position: absolute
				bottom: -4px
				left: 0
				width: 0
				height: 3px
				background-color: $main_color
		&__text
			font-size: 14px
			margin-bottom: 10px
			transform: translateX(1px)
			letter-spacing: -0.3px
			position: relative
			&:before
				content: ''
				position: absolute
				bottom: -4px
				left: 0
				width: 0
				height: 3px
				background-color: $main_color
		&__label
			font-size: 14px
			+boldOp
			margin-top: 19px
			margin-bottom: 11px
		&__logo
			cursor: pointer
		&__img
			display: flex
			justify-content: flex-start
			margin-bottom: 14px
			transform: translateX(2px)
		&__icon
			display: inline-block
			color: #393939
			width: 31px
			height: 31px
			display: flex
			justify-content: center
			align-items: center
			padding-left: 2px
			border: 1.5px #393939 solid
			border-radius: 3px
			font-size: 14px			
			position: relative			
			&:nth-child(2)
				margin-right: 12px
				padding-left: 0
				padding-right: 0
			&:last-child
				margin-right: 0
		&__like
			margin-right: 15px
			position: relative
			&:before
				position: absolute
				content: 'Мне нравится  | 3654'
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.12)
				background-color: #ffffff
				display: none
				justify-content: center
				align-items: center
				width: 196px
				height: 39px
				font-size: 14px
				+bold
				bottom: -55px
				left: -85px
	&__text
		display: flex
		justify-content: center
		padding-top: 33px
		padding-bottom: 37px
	&__license
		font-size: 13px
		opacity: 0.7
		color: #393939
		transform: translateX(-13px)
		letter-spacing: -0.2px
	&__link
		display: inline-block
		text-decoration: none
		color: #393939
@media (max-width: 1200px)
	.footer
		margin-top: 30px
		padding-top: 22px
		&__box
			display: flex
			justify-content: center
			border-bottom: 1px solid $main_color
		&-block
			max-width: 944px
			flex-wrap: wrap
			justify-content: center
			border-bottom: 	none
			&__item
				&:nth-child(3)
					margin-right: 14px
				&:nth-child(4)
					margin-top: 20px
					& span
						transform: translateX(0)
@media (max-width: 960px)
	.footer
		&__text
			padding-top: 25px
			text-align: center
		&__license
			transform: translateX(-2px)
			line-height: 17px
			max-width: 191px			
		&-block
			max-width: 592px
			justify-content: flex-end
			padding-bottom: 19px
			&__item
				&:nth-child(1)
					margin-right: 47px
					transform: translateX(-6px)
				&:nth-child(2)
					transform: translateX(-2px)
					margin-right: 40px
				&:nth-child(3)
					margin-right: 4px
				&:nth-child(4)
					margin-top: -8px
					transform: translateX(-27px)
			&__link
				margin-bottom: 12.5px
				transform: translateX(0)
			&__label
				margin-top: 12px
			&__img
				transform: translateX(-1px)
			&__like
				&:nth-child(2)
					margin-right: 16px
				&:nth-child(3)
					transform: translateX(-4px)
@media (max-width: 640px) and (min-width: 320px)
	.footer
		&-block
			flex-direction: column
			align-items: center
			justify-content: center
			&__item
				text-align: center
				&:nth-child(1)
					margin-right: 0
					transform: translateX(2px)
				&:nth-child(2)
					margin-right: 0
					transform: translateX(8px)
				&:nth-child(4)
					margin-top: 13px
					transform: translateX(-15px)
			&__img
				transform: translateX(2px)

		