.popular
	padding-top: 19px
	&__text
		position: absolute
		bottom: 0
		left: 0
		height: 78px
		width: 100%
		background-color: #fff
		display: flex
		justify-content: center
		align-items: center
		opacity: 0.8
		font-size: 21px
		letter-spacing: 0.4px
		padding-bottom: 7px
	&-down
		display: flex
		justify-content: flex-start
	&-block
		display: flex
		justify-content: flex-start
	&-item
		&__left
			margin-right: 15px
			margin-bottom: 10px
			position: relative			
	&-down
		padding-left: 1px
		&__img
			margin-right: 16px
			position: relative
			& span
				padding-left: 1px
			&:nth-child(2)
				& span
					padding-right: 2px
	&-right
		position: relative
		& span			
			padding-right: 4px